body, html {
  padding: 0;
  margin: 0;
}

#header {
  padding: 15px 30px;
}

h1 {
  font-size: 40px;
  font-family: "Work Sans";
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: auto;
  display: inline;
}

h2 {
  font-size: 24px;
  font-family: "Work Sans";
  font-weight: 500;
  font-style: italic;
  position: fixed;
}

h3 {
  float: right;
  font-family: georgia;
  font-size: 15px;
  font-weight: 200;
  font-style: italic;
  line-height: 30px;
}

h4 {
  font-family: georgia;
  font-size: 200px;
  font-style: italic;
  font-weight: 500;
  position: fixed;
  z-index: -1;
  color: lightgrey;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

a:hover > h2 {
  text-decoration: underline;
}

a:hover > img {
  opacity: 1;
}

a img {
  transition: opacity .3s ease-in-out;
  opacity: .7;
}

a div {
  background-color: white;
}

#navimg1 {
  width: 260px;
  position: fixed;
  left: 33px;
  bottom: 250px;
}

#navimg2 {
  width: 200px;
  position: fixed;
  right: 420px;
  bottom: 80px;
}

#navimg3 {
  width: 300px;
  position: fixed;
  right: 30px;
  top: 100px;
}

#navtxt1 {
  left: 33px;
  bottom: 170px;
}

#navtxt2 {
  right: 545px;
  bottom: 28px;
}

#navtxt3 {
  right: 182px;
  top: 268px;
}

#navnum1 {
  left: 190px;
  bottom: -178px;
}

#navnum2 {
  right: 340px;
  bottom: -260px;
}

#navnum3 {
  right: 30px;
  top:-61px;
}

#white {
  background-color: white;
  position: fixed;
  width: 100px;
  height: 100px;
}
