body, html, section{
  padding: 0;
  margin: 0;
}

body {
  display: none;
}

* {
  box-sizing: border-box;
}

.container {
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(100vw);
    scroll-behaviour: smooth;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
    white-space: nowrap;
    position: fixed;
}

section {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: center;
    /* background-color: teal; */
}

#loader {
  position: fixed;
  width: 1000px;
  height: 100px;
  text-align: center;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -500px;
}

#header {
  padding: 15px 30px;
}

.slideshow {
  max-height: 85vh;
  max-width: 75%;
  padding: 2vh 0;
}

h1 {
  font-size: 40px;
  font-family: "Work Sans";
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: auto;
  display: inline;
}

h1 a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 24px;
  font-family: "Work Sans";
  font-weight: 500;
  font-style: italic;
  margin-top: 5px;
}

h3 {
  float: right;
  font-family: georgia;
  font-size: 15px;
  font-weight: 200;
  font-style: italic;
  line-height: 30px;
  color: grey;
}

h4 {
  font-family: georgia;
  font-size: 100px;
  font-style: italic;
  font-weight: 500;
  position: fixed;
  z-index: 2;
  color: lightgrey;
  bottom: 30px;
  right: 30px;
  margin: 0;
}

#total {
  font-size: 40px;
  color: lightgrey;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: black;
}

a:hover > h2 {
  text-decoration: underline;
}

a:hover > img {
  opacity: 1;
}

a img {
  transition: opacity .3s ease-in-out;
  opacity: .8;
  -webkit-transform: translateZ(0);
  width: calc(100% + .49px);
}

a div {
  background-color: white;
}

a img {
  width: 100%;
}

#nav1 {
  position: fixed;
  left: 33px;
  top: 40%;
  width: 25%;
}

#nav2 {
  position: fixed;
  bottom: 1%;
  right: 40%;
  width: 20%;
  text-align: right;
}

#nav2 h2 {
  padding-right: 5px;
}

#nav3 {
  position: fixed;
  top: 100px;
  right: 30px;
  width: 35%;
  text-align: right;
}

#nav3 h2 {
  padding-right: 5px;
}

.current{
    /* background-color: blue; */
}
